{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}

  {{ if .Params.redirect }}
    <meta http-equiv="Refresh" content="0; url='https://expeditions.renehlavova.com/'" />
  {{else}}
    {{ $section := .Site.GetPage "section" .Section }}
  {{ end}}

<div class="flex-l mt2 mw8 center">
  <article class="flex-auto justify-between center pa4 mr6 ml6">
    <header class="mt3 w-100">

      <aside class="avenir tracked">
        {{with .CurrentSection.Title }}{{. | upper }}{{end}}
      </aside>

      <h1 class="f1 avenir tracked fw5">
        {{- .Title -}}
      </h1>

    </header>

    <div class="nested-copy-line-height center lh-copy f5-l nested-links nested-img black-80 tl avenir">
      {{- .Content -}}
      </div>
    </div>

  </article>
</div>
{{ end }}
