{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}

  <article class="flex-wrap pa4 mr4 ml4">
    <header class="mt3 w-100">

      <aside class="avenir tracked">
        {{with .CurrentSection.Title }}{{. | upper }}{{end}}
      </aside>

      <h1 class="f1 avenir tracked fw5">
        {{- .Title -}}
      </h1>

    </header>

    <div class="nested-copy-line-height center lh-copy f5-l nested-links nested-img black-80 tl avenir">
      {{- .Content -}}
      </div>
    </div>

  </article>
{{ end }}
